<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background: whitesmoke">
<div class="container text-center">
  <h4>Welcome!</h4>
  <h5>J0KLQB</h5>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th><a href="/register" style="color: steelblue">Register</a></th>
      <th><a href="/login" style="color: steelblue">Login</a></th>
    </tr>
    </thead>
    </tbody>
  </table>
</div>

</body>
</html>